@page "/admin/edit-user-claim/{userId?}"
@model EditUserRoleClaimModel
@{
    ViewData["Title"] = "Edit user claim";
}

<h4>Edit claim for user: @Model.User.UserName</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.ClaimType"></label>
                <input asp-for="Input.ClaimType" class="form-control" />
                <span asp-validation-for="Input.ClaimType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ClaimValue"></label>
                <input asp-for="Input.ClaimValue" class="form-control" />
                <span asp-validation-for="Input.ClaimValue" class="text-danger"></span>
            </div>
            @if (Model.UserClaim == null) 
            {
                <button type="submit" class="btn btn-primary">Create</button>
            } 
            else 
            {
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="submit" class="btn btn-danger" asp-page-handler="DeleteClaim" asp-route-claimId="@Model.UserClaim.Id">Delete</button>
            }
            <a class="btn btn-primary" asp-page="./AddRole" asp-route-userId="@Model.User.Id">Edit user</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}